@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-align-center($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin menu-list {
    list-style: none;
    background-color: $color-fifth;

    .menu-item {
        display: inline-block;
        margin: 0 20px;
        font-size: $base-font-size;
        text-transform: uppercase;

        a {
            color: $color-second;
            font-weight: 700;
            text-decoration: none;
        }
    }

}

