@mixin flexbox {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-align-center($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin margin($top, $left) {
    top: $top;
    left: $left;
}
