// Main colors
    $color-text-primary: #888888;
    $color-first: #1ba4ce;
    $color-second: #473452;
    $color-third: #1e2528;
    $color-fourth: #44707b;
    $color-fifth: #ffffff;
    $color-sixth: #e2e5ea;
    $color-box-shadow: #f0f0f0;

// GoogleFonts
	$font-primary: 'Roboto', sans-serif;
    $font-secondary: 'Bellota', cursive;
    
// FontsStyle
    $base-font-size: 16px;
    $text-transform-base: uppercase;
    $text-align: center;
    $line-height-primary: 1.5;

//Breakpoint
    $medium: 768px;
    $large: 992px;
    $extra-large: 1200px;
    