
%btn{
    display: inline-block;
    border-radius: 30px;
    text-transform: $text-transform-base;
    border: 0;
    text-decoration: none;
    padding: 15px 35px;
}

.btn-primary{
    @extend %btn;
    color: $color-fifth;
    background-color: $color-third;
}

.btn-primary:hover{
    @extend %btn;
    background-color: $color-first;
}

.btn-second{
    @extend %btn;
    color: $color-fifth;
    background-color: $color-first;
}

.btn-second:hover{
    @extend %btn;
    background-color:  $color-third;
}

.btn-form{
    @extend %btn;
    color: $color-second;
    background-color: $color-fifth;
    font-weight: bold;
}

.btn-form:hover{
    @extend %btn;
    color: $color-fifth;
    background-color:  $color-third;
}
