section.about{
    img{
        max-width: 100px;
    }

    p:first-of-type{
        text-transform: $text-transform-base;
    }

    p:last-of-type{
        color: $color-fourth;
    }
}

@media (min-width: $medium) {
    section.about{
        padding-bottom: 60px;
    }
}

    