.procedures-header{
    margin: 0 auto;
    max-width: 850px;
    background-color: $color-fifth;
    text-align: $text-align;
    margin: 0 auto;
}

.conteiner-third{
    max-width: 1140px;
    padding: 0 23px;
    @include flexbox;
    @include flex-align-center(center, center);

    .procedures-item{
        padding: 25px;
        border: 1px solid $color-sixth;
        background-color: $color-fifth;
        text-align: $text-align;
        margin-bottom: 30px;

        &:last-of-type{
            margin-bottom: 0;
        }

        &:hover{
            box-shadow: 0 5px 20px $color-box-shadow;
        }

        img{
            width: 100%;
            height: auto;
        }
    } 
    
    @media (min-width: $medium) {
        .procedures-item{
            flex-basis: 32%;
            margin-right: 20px;
            margin-bottom: 0;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

